UniSystemHelpDeskWPF/UniSystemHelpDeskWPF/UniSystemHelpDeskWPF/Service References/WebServiceUS/WebServiceUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarChamado">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarChamadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarChamadoResult" type="tns:ArrayOfConsultaU" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConsultaU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConsultaU" nillable="true" type="tns:ConsultaU" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConsultaU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NOME_USUARIO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CHAMADO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CHAMADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_CRIACAO_CHAMADO" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_FINALIZACAO_CHAMADO" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_CHAMADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TECNICO" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarChamadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarChamado" />
  </wsdl:message>
  <wsdl:message name="ConsultarChamadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarChamadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUSSoap">
    <wsdl:operation name="ConsultarChamado">
      <wsdl:input message="tns:ConsultarChamadoSoapIn" />
      <wsdl:output message="tns:ConsultarChamadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUSSoap" type="tns:WebServiceUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarChamado">
      <soap:operation soapAction="http://tempuri.org/ConsultarChamado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUSSoap12" type="tns:WebServiceUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarChamado">
      <soap12:operation soapAction="http://tempuri.org/ConsultarChamado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUS">
    <wsdl:port name="WebServiceUSSoap" binding="tns:WebServiceUSSoap">
      <soap:address location="http://localhost:14555/WebService/WebServiceUS.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUSSoap12" binding="tns:WebServiceUSSoap12">
      <soap12:address location="http://localhost:14555/WebService/WebServiceUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>